.algorithmCenter {
  height: 100%;
}

.algorithmCenter .algorithmCenterContent {
  display: flex;

  height: calc(100% - 60px);
  padding: 0px 20px;
  overflow: hidden;

  background-color: #eee;
}

.algorithmCenter .algorithmCenterContent .left {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  width: 240px;
  margin: 20px 0px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #ddd;
}

.algorithmCenter .algorithmCenterContent .left > * {
  width: 100%;
  height: 60px;

  box-sizing: border-box;
}

.algorithmCenter .algorithmCenterContent .left > * > * {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.algorithmCenter .algorithmCenterContent .left > .search {
  height: 50px;
}

.algorithmCenter .algorithmCenterContent .left > .blank {
  flex: 1;
}

.algorithmCenter .algorithmCenterContent .right {
  flex: 1;

  padding: 20px 0px 0px 20px;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

.algorithmCenter .algorithmCenterContent .right::-webkit-scrollbar {
  display: none;
}

.algorithmCenter .algorithmCenterContent .right .algorithmList {
  width: 100%;
}

.algorithmCenter .algorithmCenterContent .right .algorithmList:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.algorithmCenter .algorithmCenterContent .right .algorithmList .algorithm {
  position: relative;
  float: left;

  width: 270px;
  height: 200px;
  margin: 0px 20px 20px 0px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px #ccc;
  overflow: hidden;

  background-color: #fff;
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .name {
  position: absolute;
  top: 80px;
  left: 50%;

  transform: translate(-50%, -50%);
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .control {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.1);

  opacity: 0;
  transition: opacity 0.3s;
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm:hover
  .control {
  opacity: 1;
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .control
  .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 60%;
  left: 50%;

  width: 100%;
  height: 40px;

  transform: translate(-50%, -50%);
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .user {
  position: absolute;
  bottom: 5px;
  left: 5px;

  width: 40px;
  height: 40px;
  cursor: pointer;
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .user
  .img {
  width: 100%;
  height: 100%;
  border-radius: 1000px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.algorithmCenter
  .algorithmCenterContent
  .right
  .algorithmList
  .algorithm
  .time {
  position: absolute;
  bottom: 0;
  right: 0;

  /* width: 180px; */
  height: 20px;
  padding: 0px 5px;
  border-radius: 5px 0px 0px 0px;

  font-size: 12px;
  line-height: 20px;

  color: #fff;
  background-color: #ccc;
}
