.projectDS {
  height: calc(100% - 60px);
}

.projectDSContent {
  display: flex;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.projectDSContent .main {
  box-sizing: border-box;
}
