.algorithmEdit {
  height: calc(100% - 60px);
}

.algorithmEditContent {
  display: flex;
  flex-flow: row nowrap;

  height: 100%;
}

.algorithmEditContent > .left {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;

  height: 100%;
}

.algorithmEditContent > .left > * {
  position: relative;
}

.algorithmEditContent > .left .mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: #999;
}

.algorithmEditContent > .left .container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
}

.algorithmEditContent > .left > .top {
  flex: 1;
}

.algorithmEditContent > .left > .line {
  height: 1px;
  background-color: rgb(226, 226, 226);
}

.algorithmEditContent > .left > .bottom {
  height: 200px;
}

.algorithmEditContent > .left > .bottom > .inputListContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.algorithmEditContent > .middle {
  width: 1px;
  height: 100%;
  background-color: rgb(226, 226, 226);
}

.algorithmEditContent > .right {
  width: 70%;
  height: 100%;
}

.algorithmEditHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

.algorithmEditHeader > * {
  margin-right: 10px;
}

.algorithmEditHeader > .blank {
  flex: 1;
}
