.widget {
  position: absolute;
  border-radius: 5px;
}

.widgetRenderer {
  position: relative;
}

.widgetComp {
  position: relative;
  z-index: 1;
  cursor: default;
}

.commonLineWidget {
  position: absolute;
}
